* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #E1E5EA;
}

body {
  background-color: #314057;
}


