* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #E1E5EA;
}

body {
  background-color: #314057;
}

.main-container {
  border: 1px solid #F5F5F5;
  border-radius: 6px;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.form-title {
  margin-top: 20px;
  text-align: center;
}

.services-list {
  margin-top: 10px;
  vertical-align: text-bottom;
  list-style: none;
  padding: 20px 5px;
}

.result {
  margin-top: 1rem;
}

.services-list {
  width: 70%;
  margin: 0 auto;
}

.services-list li {
  margin-bottom: 0.5rem;
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: 700;
  text-align: start;
}

.web-details-tag {
  background-color: #B7BAD2;
  color: black;
}


.web-details-container {
  background-color: #B7BAD2;
}

